/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */
body { }

.col {margin:0 1%;}

.wrap {
   background: url(../img/bg-field.jpg) no-repeat;
   background-position: center center;
   background-size: cover;
   }

body.home > header {
    margin-bottom: 0px;
    }

/*=====================================================================
  Header
  ===================================================================== */

h1{color:#A57513;}

.feat-music {
    font-size:36px;
    letter-spacing: 1px;
    font-family: "Georgia";
    color:#3a5b13}

h2 {
    color:#A57513;
    font-family: "Georgia";
    font-style: Normal;
    font-size: 20px;
    }

p { color:#000000;
    font-family:"Georgia";
    font-style:"Normal";
    font-size:12px;
  }
    
h3{
   font-size: 18px;
  }

h4 {
   font-size: 14px;
   }





/* ==========================================================================
   Navbar
   ========================================================================== */

.navbar-default {
background-color: #988d71!important;
background-image: url(../img/nav-bg.jpg)!important;
border-color: #B4B1A9!important;
height: 25px!important;
-webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25);
box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25);
}

.navbar-default .navbar-nav>li>a {
font-family: "baltica-web-extra-condensed"!important;
color: #3e403d!important;
font-size: 20px!important;
text-transform: uppercase!important;
letter-spacing: .2em!important;
}

.navbar-default .navbar-nav>li>a:hover {
color: #3a5b13!important;
}

.navbar-default .navbar-toggle {
border-color: #B69A81;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #97785D;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #BB9B7F;
}

#menu-primary-navigation li.menu-facebook, li.menu-twitter {
text-indent: -9999px;
}

#menu-primary-navigation li.menu-facebook {
background: url(../img/fb.png);
background-repeat: no-repeat;
background-position: center center;
}

#menu-primary-navigation li.menu-twitter {
background: url(../img/tw.png);
background-repeat: no-repeat;
background-position: center center;
}

/* ==========================================================================
   Home
   ========================================================================== */

.home-banner {
padding-bottom: 25%;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
.navbar-brand{
   display: none!important;
}

/*Owl Control positioning*/
.owl-theme .owl-controls .owl-buttons .owl-prev {position:absolute; left:0px;}
.owl-theme .owl-controls .owl-buttons .owl-next {position:absolute; right:0px;}
.owl-theme .owl-controls {
text-align: center;
position: absolute;
top: 50%;
width: 100%;
height: 0px;
color: #fff!important;
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner { }



/* ==========================================================================
   Content
   ========================================================================== */

.content { }

/* ==========================================================================
   Store
   ========================================================================== */
.store-table-header{
   background-color: #0B5D6B;
   margin: 0 1%;
}
.store-table-header h3{
   color: #fff;
}
.store-row{
   margin: 15px 1%;
}
.store-buy{
   text-align: center;
}
.title{
   font-size: 10px;
}
/* ==========================================================================
   Primary Content
   ========================================================================== */

.main{
   background: #FFF;
   padding-top: 2%;
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }

/* =======================
   Concerts
   ======================= */
   
.bit-description-links a:hover,
.bit-date a:hover, 
.bit-venue a:hover,
.bit-location a:hover,
.bit-tickets a:hover,
.bit-rsvp a:hover {
   color:#777!important;
}

.bit-location {width:23%;}

.bit-venue, .bit-date, .bit-description-links,
.bit-location, .bit-tickets {
   font-size:20px!important;
   padding:10px 0px;
}

#bit-events tr {
line-height: 3em;
}
td a {
font-size: 12px!important;
}
.tour-body h3 {
   margin-left: -10px;
}

.bit-venue{
      display: none;
}

.bit-description-links{
      display: none;
}
   
   /* .bit-date{
      width: 9%;
   } */
   
td.bit-date {
width: 90px!important;
}

.bit-header-overflow-fix span, .bit-header-overflow-fix span a{
   color: #646464!important;
}

tr th{
   color: #646464!important;
}

.bit-event-data{
   letter-spacing: .5px!important;
   word-spacing: 3px!important;
}

.bit-buy-tix {
color: #E64C1F;
text-decoration: none;
font-weight: bold;
}

a:hover{
   text-decoration: none!important;
   color: inherit!important;
}
.bit-rsvp {
display: none;
}
.bit-location a{
   font-weight: normal!important;
}
.bit-bottom{
   display: none;
}
.smaller{
   font-size: 36px;
}

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
.col,
.post-nav {margin:0 10%;}
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
