/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */
body { 
font-family: "clavo", "Georgia", sans-serif;	
}

.col {margin:0 1%;}

.wrap {
background: url(../img/bg-field.jpg) no-repeat;
background-position: center 70%;
background-size: 100%;
background-attachment: fixed;
}

body.home > header {
    margin-bottom: 0px;
    }
.page-header{
  margin-top: 20px!important;
}

.right {float:right;}
.left {float:left;}
.center {text-align:center;}

a {transition:color .2s ease;}

/*=====================================================================
  Header
  ===================================================================== */

h1 {color:#A57513;}

.feat-music {
    font-size:50px;
    letter-spacing: 1px;
    color:#3a5b13}

h2 {
    color:#A57513;
    font-style: Normal;
    font-size: 28px;
    letter-spacing:.08em;
    }

p { color:#000000;
    font-style:"Normal";
    font-size:14px;
    letter-spacing:.05em; 
  }
  
.dropdown-menu {padding: 5px 0 0 0;}
  
.dropdown-menu>li>a {
display: block;
padding: 0px 25px;
clear: both;
font-weight: normal;
line-height: 1.428571429;
color: #333;
white-space: nowrap;
font-family: "baltica-web-extra-condensed"!important;
color: #53534C!important;
font-size: 21px;
text-align: left;
text-transform: uppercase!important;
letter-spacing: .1em!important;
}

ul.dropdown-menu {
  background-image: url(../img/nav-bg.jpg)!important;
  border:transparent!important;
}

.dropdown-menu li {padding: 2% 0;}

h3 {font-size: 14px;}

h4 {font-size: 14px;color:#ffffff;}

h5 {font-size: 16px;color:#000000;}

h6{font-size: 14px;text-align: left;}

a{color: #A57513;transition:color .2s ease;}

.single-photos time.published {display: none!important;}
/*==========================================================================
  Bottom Slider Text
 ========================================================================== */

.music-carousel-item>h3 {
    color:#a67514;
    text-align: left;
}

.music-carousel-item img {
transition:opacity .3s ease;
}

.music-carousel-item img:hover {
opacity: .9;
}
    
/* ==========================================================================
   Navbar
   ========================================================================== */
.nav-container{
background-color: #988d71!important;
background-image: url(../img/nav-bg.jpg)!important;
-webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,.4);
box-shadow: 0 0 10px 2px rgba(0,0,0,.3);
border-bottom: 1px solid rgb(189, 176, 156);
}

.navbar-default {
background-color: #988d71!important;
background-image: url(../img/nav-bg.jpg)!important;
border-color: #B4B1A9!important;
height: 25px!important;
-webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25);
box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25);
margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
font-family: "baltica-web-extra-condensed"!important;
color: #53534C!important;
font-size: 21px;
text-transform: uppercase!important;
letter-spacing: .3em!important;
}

.navbar-default .navbar-nav>li>a:hover {
color: #96800E!important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
background-color: transparent;
color: #4C420B!important;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
background-color: transparent;
color: rgb(145, 134, 7)!important;
}

.navbar-default .navbar-toggle {
border-color: #B69A81;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #97785D;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #BB9B7F;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #96800E!important;
background-color: transparent!important;
}

#menu-primary-navigation li.menu-facebook, li.menu-twitter {
text-indent: -9999px;
}

#menu-primary-navigation li.menu-facebook {
background: url(../img/fb.png);
background-repeat: no-repeat;
background-position: center center;
}

#menu-primary-navigation li.menu-twitter {
background: url(../img/tw.png);
background-repeat: no-repeat;
background-position: center center;
}

.navbar-collapse {
max-height: 500px!important;
}
.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
background-color: #988d71!important;
background-image: url(../img/nav-bg.jpg)!important;
text-align:center!important;
}

.nav-mail {
padding: 10px;
display: block;
float: none;
width: 180px;
text-align: center;
margin: 0px auto;
}

#mc_embed_signup {
 background: transparent!important;
clear: none!important;
}
input#mce-EMAIL {
width: 180px!important;
min-width: 1px!important;
float: left;
margin:0 1% 10px 0!important;
}
input#mc-embedded-subscribe {
width: 100px!important;
clear: none!important;
float: left;
min-width: 1px!important;
background: #0C5E6C!important;
color:#fff;
}
#mc_embed_signup label{
font-family: "baltica-web-extra-condensed"!important;
color: #53534C!important;
text-transform: uppercase!important;
letter-spacing: .1em!important;
font-weight: normal!important;
padding-bottom: 0px!important;
float: left;
margin: 6px 10px;
font-size: 15px;
}

.dropdown-menu {
font-size: 20px;
text-transform: uppercase;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
color: #fff;
text-decoration: none;
outline: 0;
background-color: #A57513;
}

/* ==========================================================================
   Home
   ========================================================================== */

.home-banner {
padding-bottom: 32%;
background-size: contain!important;
background-repeat: no-repeat;
background-position: center;
transition:opacity .3s ease;
}

.home-banner:hover {opacity:.7;}

.navbar-brand{
   display: none!important;
}

/*Owl Control positioning*/
.owl-theme .owl-controls .owl-buttons .owl-prev {position:absolute; left:0px;}
.owl-theme .owl-controls .owl-buttons .owl-next {position:absolute; right:0px;}
.owl-theme .owl-controls {
text-align: center;
position: absolute;
top: 50%;
width: 100%;
height: 0px;
color: #fff!important;
}

.owl-item{
  padding: 5px;
}
h4.featured{
  color: #E99800;
  font-weight: bold;
}

/* Audio Player*/
.audiojs .scrubber {
position: relative;
float: left;
width: 47%;
background: #5a5a5a;
height: 14px;
margin: 10px;
border-top: 1px solid #3f3f3f;
border-left: 0px;
border-bottom: 0px;
overflow: hidden;
}
#audiojs_wrapper0{
  width: 100%;
}
.scrubber{
  background-color: rgba(0,0,0,0)!important;
  border: 1px solid #D8D8D8!important;
}
.audiojs{
  background-color: rgba(0,0,0,0)!important;
  background-image: none!important
}
.audiojs .loaded{
  background-color: rgba(0,0,0,0)!important;
  background-image: none!important
}
.audiojs .progress{
  color: #eeeeee;
}
.audiojs .play-pause{
  border-right: 0px solid #000!important;
  width: 40px;
}
.audiojs .time{
  border-left: 0px solid #000!important;
  color: #000!important;
}

.play-pause>p{
  display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-size: 1.3em;
}
p.play:before{
  content: "\f04b";
  top: 5px;
  left: 5px;
  position: relative;
}
p.pause:before{
  content: "\f04c";
  top: 5px;
  left: 5px;
  position: relative;
}
 p.loading{
  background: no-repeat center url("../img/spinnerLarge.gif")!important;
  background-size: contain!important;
  position: relative;
  top:-5px;
}
.bio-home {
margin-top: 25px;
}

.bio-home p {
line-height: 1.6;
font-weight: 100;
}

h3.quote-text {
font-size: 20px;
font-weight: 100;
text-align: center;
margin-top: 0;
line-height: 1.3em;
}

.line {
background: url(../img/JA_V04-BarLong.png) no-repeat;
width: 100%;
padding-bottom: 5%;
background-size: contain;
margin: 0 1%;
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner { }

/* ==========================================================================
   About
   ========================================================================== */

.about-page .blog-img-container {
margin-bottom: 30px;
}
.about p {
word-spacing: 2px;
line-height: 1.5;
}
.about-img {
margin-bottom: 15px;
}
/* ==========================================================================
   Content
   ========================================================================== */

.content { 
-webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,.4);
box-shadow: 0 0 10px 2px rgba(0,0,0,.2);
border: 1px solid #BEBCB6;
}

/* ==========================================================================
   Albums - Single
   ========================================================================== */

body.single-album .entry-meta,
body.single-album .entry-title,
body.music .entry-meta,
body.music .entry-title {display:none;}

body.single-album .album-header,
body.music .album-header {margin-bottom: 30px;}

body.single-album .album-desc,
body.music .album-desc {font-size: 14px;line-height: 1.6em;font-weight: 100;}

body.single-album .featured-thumb,
body.music .featured-thumb {border: 1px solid #ccc;}

body.single-album .featured-thumb img,
body.music .featured-thumb img {border: 5px solid #fff;}

.btn {background: #A57513; color: #fff;transition:opacity .3s ease;}
.btn-sm {background: #0B5D6B;}

.btn:hover,.btn-sm:hover {
opacity: 0.6;
color:#fff!important;
}

body.single-album .buy-panel,
body.music .buy-panel,
body.single-product .buy-panel {
text-align: center;
background-color: #FFF;
border: 1px solid #ECECEC;
padding: 0% 2% 5% 2%;
}

.row-store a {display:block;}

.row-store .preview-sheet a,
.row-store .buy-sheet a {
text-align: center;
color: #fff;
width: 142px;
margin: 0px auto;	
}

.song-list,
.song-list li {
list-style: none;
list-style-type: none;
margin:0px;
padding:0px;
}

.song-list li {}

.song-list .col-sm-6 {padding: 10px 0px;}
.song-list .col-sm-6:nth-child(1) {border-right: 1px solid #ccc;}
.song-list .song {border-right:1px solid #ccc;}

.track-title {
padding: 10px;
font-size: 16px;
text-align: center;
position: relative;
top: 5px;
}
.play-button {
border-radius: 50%;
height: 30px;
width: 30px;
border: 1px solid #ccc;
float: left;
}

.play-button i {padding: 7px 9px;}

.sm2_link>.fa :before, .sm2_paused>.fa:before {
content: "\f04b";
}
.sm2_playing>.fa:before{
  content: "\f04c";
}


/* ==========================================================================
   Store
   ========================================================================== */

body.store .album-excerpt a {display:none;}  
body.store .album-excerpt {
margin: 15px 0px;
height: auto;
overflow: hidden;
padding-bottom: 0px;
}

body.store .add_to_cart_button,
body.store .view-details {width:100%; margin-bottom:15px;}
   
.store-table-header{
background-color: #D8D0B2;
margin: 0 0%;
margin-bottom: 15px;
text-align: center;
}

.store-table-header h4 {
color: #FFF;
font-size: 20px;
font-weight: 200;
}

.store-table-header h3{
   color: #fff;
}
.store-row{
   margin: 15px 1%;
}
.store-buy{
   text-align: center;
   margin-top: 5px;
}
.title{
   font-size: 10px;
}
.row-store {
margin-top: 35px;
border-bottom: 2px #045F6B solid;
}
.store-slider{
  margin-bottom: 50px;
}

.store-section {
min-height: 250px;
background-color: #FFF;
padding-top: 1%;
border: 1px solid rgb(238, 238, 238);
padding: 2%;
}
.store-desc{
  height: 100px;
}
.buy-options {
list-style: none;
padding-left: 0px;
}
.store-title h2 {
text-align: left;
height: auto;
padding-bottom: 0px;
overflow: hidden;
font-size: 22px;
}

body.single-product .main header {display:none;} 


  /*SoundManager Css*/
  a.sm2_button {
   position:relative;
   display:inline-block; /* If you worry about old browser bugs, Firefox 2 might not like this and may need -moz-inline-box instead. :D */
   width:18px;
   height:18px;
   text-indent:-9999px; /* don't show link text */
   overflow:hidden; /* don't draw inner link text */
   vertical-align:middle;
   /* and, a bit of round-ness for the cool browsers. */
   border-radius:6px;
   margin-top:-1px; /* vertical align tweak */
   /* safari 3.1+ fun (/W3 working draft extension, TBD.) */
   -webkit-transition-property: hover;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out 0s; /* firefox 4 (couldn't sort out -moz-transform vs. MozTransform, so, "all" for now) */
   -o-transition-property: background-color; /* opera 10.5 */
   -o-transition-duration: 0.15s;
   /* weird IE 6/7 display fixes, and/or I'm doing it wrong */
   *text-indent:0px;
   *line-height:99em;
   *vertical-align: top;
  }

  a.sm2_button:focus {
   outline:none; /* maybe evil, but don't show the slight border outline on focus. */
  }

  a.sm2_button,
  a.sm2_button.sm2_paused:hover {
   background-color:#3399cc;
   background-image:url(../image/arrow-right-white.png);
   /* where possible, use data: and skip the HTTP request. Fancy-pants. Would use short-hand background: for above, but IE 8 doesn't override background-image. */
   background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAYAAABmBXS+AAAAbklEQVQY02NgQAL//v1jZMAF/v//vwuIs9HEUBUBTbj4HwIeA3EGVsVAxtn/qOAVUGM8uknIiv4hsV8A5ZKxKfoLVvnvHwifAzLtMKwDSQLBVSBti27dJajkcSD2RJODO3wtkOOMz/tMSJJYAxMA5dmsL0IfubQAAAAASUVORK5CYII=);
   *background-image:url(../image/arrow-right-white.gif); /* IE 6+7 don't do DATA: URIs */
   background-repeat:no-repeat;
   background-position:5px 50%;
   *background-position:5px 4px; /* IE 6 again */
  }

  a.sm2_button:hover,
  a.sm2_button.sm2_playing,
  a.sm2_button.sm2_playing:hover {
   background-color:#cc3333;
  }

  a.sm2_button.sm2_playing,
  a.sm2_button.sm2_playing:hover {
   -moz-transform:rotate(90deg);
   -webkit-transform:rotate(90deg);
   -ms-transform:rotate(90deg);
  }

  a.sm2_button.sm2_paused,
  a.sm2_button.sm2_paused:hover {
   background-color:#666;
  }

  /*Lightbox*/
  #lightbox{
  background-color:#eee;
  padding: 10px;
  border-bottom: 2px solid #666;
  border-right: 2px solid #666;
  }
#lightboxDetails{
  font-size: 0.8em;
  padding-top: 0.4em;
  } 
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }

#lightbox img{ border: none; } 
#overlay img{ border: none; }
/*End Lightbox*/

.preview-container {
background-color: #E1DED5;
padding: 3px;
text-align: center;
margin: 15px 0;
}
.preview-container>* {
font-size: 11px;
color:#045F6B
}

.preview-link>i{
  font-size: 1.5em!important;
}
.add_to_cart_button {color:#fff;}

.add_to_cart_button:before {	
}




.buy-now img{
  margin: 0 auto;
  width: 60%;
}
input.checkout-button.button.alt.wc-forward {
/* proceed to checkout button */
color: #5e5e5e;
text-shadow: 0 1px 0 rgba(255,255,255,0.8);
border: 1px solid #c7c0c7;
background: #f7f6f7;
background: -webkit-gradient(linear,left top,left bottom,from(#f7f6f7),to(#dfdbdf));
background: -webkit-linear-gradient(#f7f6f7,#dfdbdf);
background: -moz-linear-gradient(center top,#f7f6f7 0%,#dfdbdf 100%);
background: -moz-gradient(center top,#f7f6f7 0%,#dfdbdf 100%);
white-space: nowrap;
}
/* ==========================================================================
   Primary Content
   ========================================================================== */

.main{
   background: #f7f7f3;
   padding-top: 2%;
   padding-bottom: 25px;
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

.hentry footer {
display: none;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }


/* =======================
   Colorbox
   ======================= */
#colorbox{
  z-index: 100000;
}

/* =======================
   Concerts
   ======================= */
   
.bit-description-links a:hover,
.bit-date a:hover, 
.bit-venue a:hover,
.bit-location a:hover,
.bit-tickets a:hover,
.bit-rsvp a:hover {
   color:#777!important;
}

.bit-location {width:23%;}

.bit-venue, .bit-date, .bit-description-links,
.bit-location, .bit-tickets {
   font-size:20px!important;
   padding:10px 0px;
}

#bit-events tr {
line-height: 3em;
}
td a {
font-size: 12px!important;
}
.tour-body h3 {
   margin-left: -10px;
}

.bit-venue{
/*      display: none;*/
}

.bit-description-links{
      display: none;
}
   
   /* .bit-date{
      width: 9%;
   } */

 .concerts main{
min-height: 550px;
}
td.bit-date {
width: 90px!important;
}

.bit-header-overflow-fix span, .bit-header-overflow-fix span a{
   color: #646464!important;
}

tr th{
   color: #646464!important;
}

.bit-event-data{
   letter-spacing: .5px!important;
   word-spacing: 3px!important;
}

.bit-buy-tix {
color: #E64C1F;
text-decoration: none;
font-weight: bold;
}

a:hover{
   text-decoration: none!important;
   color: inherit!important;
}
.bit-rsvp {
display: none;
}
.bit-location a{
   font-weight: normal!important;
}
.bit-bottom{
   display: none;
}
.smaller{
   font-size: 36px;
}

/* ==========================================================================
   Media
   ========================================================================== */
body.media{
  overflow: scroll!important;
}

.vid-gal-title{
   margin-left: 13%;
}

.gallery-box {
margin-top: 50px;
}

#gallery-carousel .owl-item{
   border: 1px solid #FFF;
}

.gal-title-box {
background: rgba(255,255,255,.5);
margin: 45px 0px 0px 0px;
border: 1px solid #ededed;
}

.gal-title-box h2 a {
font-weight: 100;
text-transform: uppercase;
width: 100%;
display: block;
line-height: 26px;
}

.gal-title-box>h2{
text-align: left;
margin: 10px 0px!important;
}

.gal-title-box h2 i {
float: left;
margin-right: 15px; 
}

.gal-title-box .videos-button {
float:right;
margin:15px;
padding: 6px;
}

.gal-title-box:hover {
background: rgba(255,255,255,1.0);
}

.gal-thumb {
border: 1px solid #ededed;
padding: 0px 0px 56% 0px;
background-position: 50% 0px!important;
}

.video-page-h1 h1 {
color: #70bcbf;
text-transform: uppercase;
font-size:40px;
font-weight: 100;
text-align: center;
background:rgba(250,250,250,.9);
padding: 1%;
}

.vid-title {
background: #fff;
border: 1px solid #ededed;
border-top: 0px;
height: 0px;
padding-bottom: 33%;
overflow: hidden;
}

.gal-thumb:hover {
opacity: .8;
}

article .video > header{
display: none;
}

.gal-title {
display: inline-block;
margin-right: 25px;
font-weight: bold;
}

.gal-title .btn{font-size: 100%;
              margin:0px;
              line-height:1em;
              text-decoration: none; 
              overflow:visible;
              padding:6px 10px; 
              left: auto;
              color: #045F6B!important;
              background:#E1DED5!important;
              white-space: nowrap; 
              display: inline-block; 
}
.hide-mobile{
  display: none;
}
/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

.individual-post .post-footer .addthis_toolbox {
float: right;
}
.addthis_counter{
  float: right;
}

.meta-date-share {
padding: 1%;  
background-color:#FFF;
}
.blog-top{
   margin-top: 4%;
}

.blog-img-container {
height: 0px;
background-position: center center!important;
padding-bottom: 75%;
}
.single-post .about-img {
margin-bottom: 15px;
float: left;
margin-right: 15px;
}
.hentry .entry-content {
 -moz-column-count: 1;
 -moz-column-gap: 20px;
 -webkit-column-count: 1;
 -webkit-column-gap: 30px;
 }

 .single-photos .hentry .entry-content {
 -moz-column-count: 1;
 -webkit-column-count: 1;
 }

 .single-video .hentry .entry-content {
 -moz-column-count: 1;
 -webkit-column-count: 1;
 }
 .single-video .header-page{
  /* Cheap CSS Fix */
  display: none!important;
 }

.individual-post, .music-wrapper{
background-color: #FFF;
padding-top: 1%;
border: 1px solid rgb(238, 238, 238);
padding: 2%;
}

div.music-wrapper p {margin-left: 15px;}

.individual-post .wp-post-image {display:none;}

.wp-post-image {
margin: 3% 0;
}

.individual-post .excerpt {
height: 155px;
overflow: hidden; 
}

.individual-post .post-footer {
padding: 10px;
text-align: left;
border-top: 1px solid #ededed;
}

.individual-post .post-footer .post-date {
color: #ccc!important;
font-size: 10px;
text-transform: uppercase;
}
/* ==========================================================================
   Footer
   ========================================================================== */
footer{
  background-color: #988d71!important;
  background-image: url(../img/nav-bg.jpg)!important;
  padding: 40px;

}
.content-info { }

.credits{
  text-align: center;
}

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */




/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
.col,
.post-nav {margin:0 10%;}
.hide-mobile{
  display: block;
}
h6{
  text-align: center;
}

.nav-mail {
padding: 10px;
display: block;
width: 460px;
}

.buy-now img{
  width: 90%;
}
.store-buy{
  margin-top: 0px!important;
 }

.row-store {
margin: 0px;
border-bottom: 2px #D3CDB8 solid;
padding: 0px;
}

h3{
   font-size: 18px;
}
.two-col {
-moz-column-count: 2;
-moz-column-gap: 50px;
-webkit-column-count: 2;
-webkit-column-gap : 50px;
}

.navbar-nav {margin-top: .3%!important;}
.navbar-default .navbar-nav>li>a{font-size: 18px;}

.store-title .preview-container {
  margin-top: 15px;
}

body.store .album-img {
display: block;
overflow: hidden;
height: 0px;
padding-bottom: 89.8%;
}

body.store .album-excerpt {
margin-bottom: 15px;
height: 140px;
overflow: hidden;
padding-bottom: 0px;
}

.store-title h2 {
text-align: left;
height: 0px;
padding-bottom: 18%;
overflow: hidden;
}

}


@media (min-width:768px) and (max-width:991px){
.navbar-nav {
margin: 0px auto;
float: none;
width: 630px;
}

.home-banner {
padding-bottom: 49%;
}

}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

nav{
  /*fixes overlapping of navbar*/
  margin-bottom: -1px;
}

.nav-mail {float:right;}

.vid-div {
padding: 0 11%;
}
.owl-theme .owl-controls .owl-buttons .owl-next {position:absolute; right:3%;}

#mc_embed_signup label {display: none;}

body.store .album-excerpt {
margin-bottom: 15px;
height: 0px;
overflow: hidden;
padding-bottom: 70%;
}



}


@media (min-width: 992px) and (max-width:1199px) {
.nav-mail {
width: 310px;
margin: 0px auto;
}
}



/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

.addthis_counter{
  float: none;
}
.navbar-default .navbar-nav>li>a{
  font-size: 20px;
}

#mc_embed_signup label {display:block;}

body.store .album-excerpt {
margin-bottom: 15px;
height: 84px;
padding-bottom:0px;
overflow: hidden;
}

.store-title h2 {
text-align: left;
height: 0px;
padding-bottom: 18%;
overflow: hidden;
}


}


